.customers{
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;

}
ul{
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 2vw .2vw 3vw .2vw;
}
img {
  width: 20vw;
}
body {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
}
.name {
  font-size: 25px;
  font-weight: bold;
  margin-top: 12px;
  color: black;
  border-bottom: solid;
  border-bottom-color: green;
  border-bottom-width: 2px;
  padding-bottom: 10px;
  margin-bottom: 12px;
}

.email {
  color: lightgray;
  font-size: 16px;
  margin-bottom: 12px;
}

.address {
  color: #9e9e9e;
  font-size: 16px;
  margin-top: 5px;
}

.phone {
  color: #9e9e9e;
  font-size: 16px;
  margin-top: 5px;
}

.cell {
  color: green;
  font-size: 16px;
  margin-top: 29px;
  color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
